.infrastructure {
  @include adaptive-value('padding-top', 120, 70, 1);
  @include background(cover);
  position: relative;
  z-index: 2;

  @include breakpointsMaxW($bp-768) {
    padding-top: 50px;
  }

  &::after {
    @include elDef();
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url('../images/content/decors/2-2.png');
    @include background(cover);
    z-index: -1;

    @include breakpointsMaxW($bp-768) {
      top: -50px;
    }
  }

  .tabs {
    &-content {
      display: none;

      &.active {
        display: block;
        animation: opacity-visibility 700ms ease;
      }
    }
  }

  &__title {
    @include fz30();
    font-weight: 400;
    line-height: 1.4;
    padding-left: 80px;
    position: relative;
    @include adaptive-value('margin-bottom', 100, 60, 1);

    @include breakpointsMaxW($bp-576) {
      padding-left: 60px;
    }

    &::after {
      @include elDef();
      content: '02';
      width: 55px;
      height: 55px;
      top: 0;
      left: 0;
      background-image: linear-gradient(90deg, #f9a31e -24%, #f47921 126%);
      box-shadow: 0px 14px 38px 0px rgba(249, 163, 30, 0.56);
      border-radius: 50%;
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      line-height: 1;
      font-weight: 300;
      font-family: $Montserrat;

      @include breakpointsMaxW($bp-576) {
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }

  &__wrapper {
    background-color: #fafafc;
    margin-top: -10px;
    padding-bottom: 210px;

    @include breakpointsMaxW($bp-991) {
      // !
      padding-bottom: 0;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }

  &__left {
    width: 270px;
    height: 280px;
    position: relative;

    @include breakpointsMaxW($bp-768) {
      height: auto;
    }

    &::after {
      @include elDef();
      width: 3px;
      height: 100%;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #e9e8f1;

      @include breakpointsMaxW($bp-768) {
        width: 100%;
        height: 3px;
        bottom: 0;
        top: initial;
        transform: translateY(0);
      }
    }

    @include breakpointsMaxW($bp-container) {
      width: 240px;
    }

    @include breakpointsMaxW($bp-768) {
      width: 100%;
    }

    &-list {
      display: flex;
      flex-direction: column;
      @include adaptive-value('gap', 40, 20, 1);
      height: 280px;

      @include breakpointsMaxW($bp-768) {
        padding-right: 0;
        height: auto;
        flex-direction: row;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      gap: 15px;
      transition: 200ms ease;
      width: 100%;
      padding-right: 60px;
      position: relative;

      @include breakpointsMaxW($bp-container) {
        padding-right: 30px;
      }

      @include breakpointsMaxW($bp-768) {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        padding-bottom: 30px;
        font-size: 12px;
      }

      &::after {
        @include elDef();
        width: 3px;
        height: 100%;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #9693ac;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 200ms ease;

        @include breakpointsMaxW($bp-768) {
          width: 100%;
          height: 3px;
          bottom: 0;
          top: initial;
          transform: translateY(0);
        }
      }

      &.tabs-btn--active {
        color: #9693ac;

        &::after {
          opacity: 1;
          visibility: visible;
        }

        .icon {
          background-color: #9693ac;

          &::after {
            background-color: var(--color-white);
          }
        }
      }

      &:hover {
        color: #9693ac;

        &::after {
          opacity: 1;
          visibility: visible;
        }

        .icon {
          background-color: #9693ac;

          &::after {
            background-color: var(--color-white);
          }
        }
      }

      .icon {
        width: 38px;
        height: 38px;
        background-color: #e9e8f1;
        border-radius: 50%;
        position: relative;
        transition: 200ms ease;
        flex-shrink: 0;

        &::after {
          @include elDef();
          background-color: #9693ac;
          width: 16px;
          height: 16px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 200ms ease;
        }
      }

      &--fitness {
        .icon {
          &::after {
            @include maskImage(
              url('../images/content/infrastructure/fitness.png'),
              contain
            );
          }
        }
      }
      &--coffee {
        .icon {
          &::after {
            @include maskImage(
              url('../images/content/infrastructure/coffee.png'),
              contain
            );
          }
        }
      }
      &--milling-machine {
        .icon {
          &::after {
            @include maskImage(
              url('../images/content/infrastructure/milling-machine.png'),
              contain
            );
          }
        }
      }
      &--meeting {
        .icon {
          &::after {
            @include maskImage(
              url('../images/content/infrastructure/meeting.png'),
              contain
            );
          }
        }
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    align-items: center;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__imgs {
    max-width: 580px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    min-width: 450px;

    @include breakpointsMaxW($bp-container) {
      gap: 10px;
    }

    @include breakpointsMaxW($bp-container) {
      min-width: auto;
    }
  }

  &__img {
    width: 100%;
    height: 280px;
    cursor: pointer;

    @include breakpointsMaxW($bp-768) {
      height: calc(150px + (280 - 150) * ((100vw - 360px) / (768 - 360)));
    }

    img {
      border-radius: 10px;
      @include img(cover);
    }
  }

  &__offer {
    max-width: 320px;
    width: 100%;
  }

  &__heading {
    @include fz30();
    font-weight: 800;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 14px;
    color: #585858;
    margin-bottom: 35px;
  }
}
