.news-section {
  @include adaptive-value('padding-top', 80, 50, 1);

  @include breakpointsMaxW($bp-991) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include breakpointsMaxW($bp-768) {
    padding-top: 40px;
    padding-bottom:0;
  }

  &__title {
    @include fz30();
    font-weight: 300;
    @include adaptive-value('margin-bottom', 55, 30, 1);
  }

  &__content {
    display: flex;
    align-items: center;
    @include adaptive-value('gap', 90, 50, 1);
  }

  &__slider {
    max-width: 650px;
    margin: 0;
  }

  &__arrows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  &__slide {
    max-width: 240px;
    width: 100%;
    padding-right: 90px;
    position: relative;

    @include breakpointsMaxW($bp-768) {
      padding-right: 0;
      max-width: 250px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      @include elDef();
      width: 1px;
      height: 101px;
      background-color: var(--color-accent);
      right: 0;
      top: 0;

      @include breakpointsMaxW($bp-768) {
        display: none;
      }
    }
  }

  .news-item {
    width: 100%;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &__date {
      font-family: $Montserrat;
      font-weight: 400;
      color: var(--color-accent);
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 25px;
      line-height: 1;

      @include breakpointsMaxW($bp-768) {
        font-size: 14px;
        font-weight: 600;
        gap: 5px;
      }
    }

    &__text {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #858394;

      @include breakpointsMaxW($bp-768){
        font-size: 13px;
      }

      a {
        transition: 200ms ease;

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
}
