.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 10px;
  position: relative;
  left: 0;
  right: 0;
  margin-top: 0;
  z-index: 3;

  &::after {
    @include elDef();
    @include maskImage(url('../images/content/arrow.png'), contain);
    background-color: var(--color-dark);
    width: 100%;
    height: 100%;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
}
