.wait {
  @include adaptive-value('padding-top', 80, 50, 1);
  @include adaptive-value('padding-bottom', 80, 50, 1);
  position: relative;
  z-index: 2;

  &::after {
    @include elDef();
    width: 350px;
    height: 350px;
    @include backgroundImage(
      url('../images/content/decors/bubble-1.png'),
      contain
    );
    right: 0px;
    top: 50px;
    z-index: -1;
    right: max(15px, calc((100% - 1820px) / 2));

    // @include breakpointsMinW($bp-container) {
    //   right: 40px;
    // }

    @include breakpointsMaxW($bp-container) {
      top: 70px;
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__title {
    @include fz40();
    text-align: center;
    @include adaptive-value('margin-bottom', 70, 40, 1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-768) {
      gap: 20px 10px;
    }
  }

  &__icon {
    width: 85px;
    height: 85px;
    background-color: #f1f3f8;
    box-shadow: 0px 14px 38px 0px rgba(215, 218, 227, 0.56);
    border-radius: 20px;
    position: relative;
    transition: 200ms ease;

    &::after {
      @include elDef();
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-accent);
      transition: 200ms ease;
    }

    @include breakpointsMaxW($bp-576) {
      width: 50px;
      height: 50px;

      &::after {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__heading {
    color: var(--color-dark);
    font-weight: 300;
    font-family: $Montserrat;
    @include adaptive-value('font-size', 16, 11, 1);
  }

  &__item {
    border: 5px solid #edeff6;
    border-radius: 20px;
    width: 100%;
    @include adaptive-value('height', 250, 150, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
    text-align: center;
    transition: 300ms ease;
    background-color: var(--color-white);

    @include breakpointsMaxW($bp-768) {
      padding: 20px 10px;
      border-width: 3px;
    }

    &:hover {
      box-shadow: 0px 10px 90px 0px #e9e8e7;
      border-color: var(--color-white);

      .wait__icon {
        background-color: #f47921;
        box-shadow: 0px 18px 18px 0px #e5a232;

        &::after {
          background-color: var(--color-white);
        }
      }
    }

    &:nth-child(1) {
      .wait__icon {
        &::after {
          @include maskImage(url('../images/content/wait/1.png'), contain);
        }
      }
    }

    &:nth-child(2) {
      .wait__icon {
        &::after {
          @include maskImage(url('../images/content/wait/2.png'), contain);
        }
      }
    }

    &:nth-child(3) {
      .wait__icon {
        &::after {
          @include maskImage(url('../images/content/wait/3.png'), contain);
        }
      }
    }

    &:nth-child(4) {
      .wait__icon {
        &::after {
          @include maskImage(url('../images/content/wait/4.png'), contain);
        }
      }
    }
  }
}
