<section class="additive">
  <div class="container">
    <h2 class="additive__title">Аддитивный центр</h2>

    <div class="additive__wrapper">
      <div class="additive__left">
        <div class="additive__contact">
          <a class="additive__link additive__link--mail" href="mailto:abuniversal.ru">
            abuniversal.ru
          </a>
          <a class="additive__link additive__link--phone" href="tel:+74953800515">
            +7 (495) 380-05-15
          </a>
        </div>
        <div class="additive__text">
          <p>
            Центр прототипирования – современная технологическая площадка,
            оснащенная высокоточным современным оборудованием, позволяющим
            создавать прототипы и малые партии изделий при помощи применения
            аддитивных технологий.
          </p>
          <p>
            Аддитивные технологии позволяют быстро, в течении нескольких часов,
            используя только данные трехмерных CAD/CAM/CAE систем без какой-либо
            оснастки получить реальный объект с высокой точностью и качеством
            поверхности.
          </p>
          <p>
            В Технопарке “Мосгормаш” услуги Центра Прототипирования обеспечивает
            компания “АБ Универсал”, которая уже 25 лет занимается производством
            оборудования дли аддитивного производства и является один из лидеров
            в этой отрасли на российском рынке.
          </p>
        </div>
      </div>
      <div class="additive__img">
        <img src="images/content/additive.jpg" alt="Аддитивный центр" />
      </div>
    </div>
  </div>
</section>
