<section class="capabilities">
  <h2 class="capabilities__title">Наши возможности</h2>

  <a class="capabilities__down" href="#rent" aria-label="Смотреть ниже"></a>

  <section class="rent" id="rent">
    <div class="container">
      <div class="rent__wrapper">
        <div class="rent__offer">
          <h3 class="rent__title">
            Аренда <br />
            помещений
          </h3>
          <p class="rent__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>

        <ul class="rent__list">
          <li class="rent-item">
            <h4 class="rent-item__title">Офисно-Лабораторные</h4>
            <ul class="rent-item__list">
              <li class="rent-item__item">От 30 кв.м до 500 кв.м.</li>
              <li class="rent-item__item">
                От 10 тыс. рублей за кв.м. в год с НДС
              </li>
            </ul>
          </li>
          <li class="rent-item">
            <h4 class="rent-item__title">Производственные</h4>
            <ul class="rent-item__list">
              <li class="rent-item__item">От 150 кв.м до 3000 кв.м.</li>
              <li class="rent-item__item">
                От 8 тыс. рублей за кв.м. в год с НДС
              </li>
              <li class="rent-item__item">Высота потолков от 6 до 14 м</li>
              <li class="rent-item__item">Кран-балки от 2 до 10 тонн</li>
              <li class="rent-item__item">
                Свободный подъезд грузового автотранспорта
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="infrastructure">
    <div class="container">
      <div class="infrastructure__wrapper">
        <h3 class="infrastructure__title">Инфраструктура</h3>

        <div class="infrastructure__inner tabs">
          <div
            class="infrastructure__left"
          >
            <ul class="infrastructure__left-list">
              <li class="infrastructure__left-item">
                <button
                  class="infrastructure__left-btn infrastructure__left-btn--fitness tabs-btn"
                >
                  <span class="icon"></span>
                  Фитнес — центр
                </button>
              </li>
              <li class="infrastructure__left-item">
                <button
                  class="infrastructure__left-btn infrastructure__left-btn--coffee tabs-btn"
                >
                  <span class="icon"></span>
                  Кафе и зона отдыха
                </button>
              </li>
              <li class="infrastructure__left-item">
                <button
                  class="infrastructure__left-btn infrastructure__left-btn--milling-machine tabs-btn"
                >
                  <span class="icon"></span>
                  Аддитивный центр
                </button>
              </li>
              <li class="infrastructure__left-item">
                <button
                  class="infrastructure__left-btn infrastructure__left-btn--meeting tabs-btn"
                >
                  <span class="icon"></span>
                  Конференц - услуги
                </button>
              </li>
            </ul>
          </div>

          <div class="infrastructure__content tabs-content active">
            <div class="infrastructure__right">
              <div class="infrastructure__imgs">
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/1.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/1.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/2.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/2.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/3.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/3.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
              </div>
              <div class="infrastructure__offer">
                <h4 class="infrastructure__heading">Фитнес — центр</h4>
                <p class="infrastructure__text">
                  Групповые занятия, зона свободных весов, летний ворк-аут
                </p>

                <button class="infrastructure__btn btn btn--arrow">
                  Записаться
                </button>
              </div>
            </div>
          </div>
          <div class="infrastructure__content tabs-content">
            <div class="infrastructure__right">
              <div class="infrastructure__imgs">
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/1.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/1.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/2.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/2.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/3.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/3.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
              </div>
              <div class="infrastructure__offer">
                <h4 class="infrastructure__heading">Кафе и зона отдыха</h4>
                <p class="infrastructure__text">
                  Групповые занятия, зона свободных весов, летний ворк-аут
                </p>

                <button class="infrastructure__btn btn btn--arrow">
                  Записаться
                </button>
              </div>
            </div>
          </div>
          <div class="infrastructure__content tabs-content">
            <div class="infrastructure__right">
              <div class="infrastructure__imgs">
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/1.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/1.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/2.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/2.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/3.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/3.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
              </div>
              <div class="infrastructure__offer">
                <h4 class="infrastructure__heading">Аддитивный центр</h4>
                <p class="infrastructure__text">
                  Групповые занятия, зона свободных весов, летний ворк-аут
                </p>

                <button class="infrastructure__btn btn btn--arrow">
                  Записаться
                </button>
              </div>
            </div>
          </div>
          <div class="infrastructure__content tabs-content">
            <div class="infrastructure__right">
              <div class="infrastructure__imgs">
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/1.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/1.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/2.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/2.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/3.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/3.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
              </div>
              <div class="infrastructure__offer">
                <h4 class="infrastructure__heading">Конференц — услуги</h4>
                <p class="infrastructure__text">
                  Групповые занятия, зона свободных весов, летний ворк-аут
                </p>

                <button class="infrastructure__btn btn btn--arrow">
                  Записаться
                </button>
              </div>
            </div>
          </div>
          <div class="infrastructure__content tabs-content">
            <div class="infrastructure__right">
              <div class="infrastructure__imgs">
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/1.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/1.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/2.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/2.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/3.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/3.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
              </div>
              <div class="infrastructure__offer">
                <h4 class="infrastructure__heading">Конференц — услуги</h4>
                <p class="infrastructure__text">
                  Групповые занятия, зона свободных весов, летний ворк-аут
                </p>

                <button class="infrastructure__btn btn btn--arrow">
                  Записаться
                </button>
              </div>
            </div>
          </div>
          <div class="infrastructure__content tabs-content">
            <div class="infrastructure__right">
              <div class="infrastructure__imgs">
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/1.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/1.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/2.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/2.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
                <div
                  class="infrastructure__img"
                  data-fancybox
                  data-src="images/content/infrastructure/3.jpg"
                  data-caption="Hello world"
                >
                  <img
                    src="images/content/infrastructure/3.jpg"
                    alt="Конференц — услуги"
                  />
                </div>
              </div>
              <div class="infrastructure__offer">
                <h4 class="infrastructure__heading">Конференц — услуги</h4>
                <p class="infrastructure__text">
                  Групповые занятия, зона свободных весов, летний ворк-аут
                </p>

                <button class="infrastructure__btn btn btn--arrow">
                  Записаться
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="children-section"
    style="background-image: url('images/content/decor-childrens.png')"
  >
    <div class="container">
      <div class="children-section__wrapper">
        <div class="children-section__offer">
          <h3 class="children-section__title">Детский технопарк</h3>

          <div class="children-section__text">
            <p>
              Детский технопарк «Мосгормаш» – это площадка, оснащенная
              высокотехнологичным оборудованием, нацеленная на подготовку новых
              высококвалифицированных инженерных кадров, разработку,
              тестирование и внедрение инновационных технологий и идей,
              пространство интеллектуальной смелости, среда ускоренного развития
              технических способностей учащихся образовательных организаций
              города Москвы от 14 до 18 лет.
            </p>
            <p>
              Занятия в детском технопарке проводятся по следующим направлениям:
              «Геоинформатика», «Виртуальная и дополненная реальность»,
              «Робототехника» и др.
            </p>
          </div>

          <a class="children-section__btn btn btn--arrow" href="#">Подробнее</a>
        </div>

        <div class="children-section__img">
          <img src="images/content/childrens/1.jpg" alt="Детский технопарк" />
        </div>

        <a
          class="children-section__btn children-section__btn--mobile btn btn--arrow"
          href="#"
          >Подробнее</a
        >
      </div>
    </div>
  </section>
</section>
