<section class="contacts">
  <div class="container">
    <div class="contacts__offer">
      <h2 class="contacts__title">Контакты</h2>

      <div class="contacts__info">
        <address class="contacts__address">
          Москва, Каширский Проезд, 13
        </address>

        <a class="contacts__phone" href="+7 (495) 236-69-57">
          +7 (495) 236-69-57
        </a>
        <div class="contacts__phones">
          <p>
            Управляющая компания:
            <a href="tel:+74952366957">+7 495 236-69-57</a>
          </p>
          <p>
            Детский технопарк:
            <a href="tel:+74952366985">+7 495-236-69-85</a>
          </p>
        </div>

        <a class="contacts__mail" href="mailto:office@tpmgm.ru">
          office@tpmgm.ru
        </a>
      </div>

      <div class="contacts__btns">
        <button class="contacts__btn contact-btn btn btn--white" type="button">
          Написать нам
        </button>
        <button class="contacts__btn btn" type="button">
          Стать резидентом
        </button>
      </div>
    </div>

    <div class="contacts__map map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Abf749768d366d2a8120fd2ea99321bea074fab0b8fafa40ca48385102f9e99a2&amp;source=constructor"
        width="1100"
        height="480"
      ></iframe>
    </div>
  </div>
</section>
