<section class="directions">
  <div class="container">
    <h2 class="directions__title">Направления занятий</h2>

    <ul class="directions__list">
      <li class="directions__item directions__item--geoinformatics">
        <p class="directions__text">
          Геоинформатика
        </p>
      </li>
      <li class="directions__item directions__item--virtual">
        <p class="directions__text">
          Виртуальная и <br />
          дополненная реальность
        </p>
      </li>
      <li class="directions__item directions__item--robotics">
        <p class="directions__text">
          Робототехника
        </p>
      </li>
      <li class="directions__item directions__item--neurotechnology">
        <p class="directions__text">Нейротехнологии</p>
      </li>
      <li class="directions__item directions__item--space">
        <p class="directions__text">
          Современная <br>
космонавтика
        </p>
      </li>
      <li class="directions__item directions__item--it">
        <p class="directions__text">
          Информационные <br>
          технологии
        </p>
      </li>
      <li class="directions__item directions__item--unmanned">
        <p class="directions__text">
          Беспилотный <br>
          транспорт
        </p>
      </li>
      <li class="directions__item directions__item--hightech">
        <p class="directions__text">Хайтек</p>
      </li>
    </ul>
  </div>
</section>
