<section class="hero">
  <div class="container">
    <div class="hero__offer">
      <h2 class="hero__title"><span>есто</span> для вашего бизнеса</h2>
      <p class="hero__text">
        Технопарк Мосгормаш – инфраструктура создана для размещения
        производственных и научных компаний, которые легко интегрируется в
        экосистему инноваций г. Москвы.
      </p>

      <div class="hero__btns">
        <a class="hero__btn hero__btn--arrow btn" href="#">О технопарке</a>
        <a class="hero__btn btn btn--white" href="#">
          Стать резидентом
          <span class="hero__btn-icon"></span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="hero__preview"
    style="background-image: url('images/content/hero.png')"
  ></div>
</section>
