<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title">Новости</h2>

      <div class="news__sort">
        <select class="select">
          <option>Выебрите рубрику</option>
          <option value="1">Выебрите 1</option>
          <option value="2">Выебрите 2</option>
          <option value="3">Выебрите 3</option>
        </select>
      </div>
    </div>

    <div class="news__content">
      <ul class="news__list">
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <img src="images/content/news/1.jpg" alt="Новости" />
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">
                  На площадке Технопарка Мосгормаш прошел круглый стол ОНФ
                  Москва с участием резидентов
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <img src="images/content/news/2.jpg" alt="Новости" />
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">
                  Резидент Технопарка Мосгормаш - создал первый в России шахтный
                  электромобиль
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <img src="images/content/news/3.jpg" alt="Новости" />
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">
                  Новые навыки, новые науки: в Москве прошел детский праздник
                  изобретательства и инноваций
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <img src="images/content/news/4.jpg" alt="Новости" />
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">
                  Подведены итоги чемпионата радиоуправляемых автомобилей
                  «Первый элемент: Москва»
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <img src="images/content/news/5.jpg" alt="Новости" />
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">
                  Учредитель «АИР Магистраль» принял участие во встрече мэра
                  Москвы с предпринимателями
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__top" href="#">
              <img src="images/content/news/6.jpg" alt="Новости" />
            </a>
            <div class="news-card__body">
              <div class="news-card__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>
              <h3 class="news-card__title">
                <a href="#">
                  ГК "Москабельмет" повысил эффективность производства на 10
                  процентов благодаря роботам Aripix Robotics - резидента
                  Технопарка Мосгормаш
                </a>
              </h3>
            </div>
          </article>
        </li>
      </ul>

      <div class="news__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
