<section
  class="news-section"
  
>
  <div class="container">
    <h2 class="news-section__title">Новости</h2>

    <div class="news-section__content">
      <div class="news-section__slider swiper">
        <ul class="news-section__slides swiper-wrapper">
          <li class="news-section__slide swiper-slide">
            <div class="news-item">
              <div class="news-item__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>

              <div class="news-item__text">
                <a href="#">МЭЦ провел час с торгпредом РФ в Индонезии</a>
              </div>
            </div>
          </li>
          <li class="news-section__slide swiper-slide">
            <div class="news-item">
              <div class="news-item__date">
                <span>19 мая 2022</span> | <span>10:00</span>
              </div>

              <div class="news-item__text">
                <a href="#">
                  Business booster day собрал в стартхабе около 100
                  предпринимателей
                </a>
              </div>
            </div>
          </li>
          <li class="news-section__slide swiper-slide">
            <div class="news-item">
              <div class="news-item__date">
                <span>20 мая 2022</span> | <span>16:00</span>
              </div>

              <div class="news-item__text">
                <a href="#">МЭЦ провел час с торгпредом РФ в Индонезии</a>
              </div>
            </div>
          </li>
          <li class="news-section__slide swiper-slide">
            <div class="news-item">
              <div class="news-item__date">
                <span>19 мая 2022</span> | <span>10:00</span>
              </div>

              <div class="news-item__text">
                <a href="#">
                  Business booster day собрал в стартхабе около 100
                  предпринимателей
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="news-section__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button
        ><button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
