<section class="production">
  <div class="container">
    <h2 class="production__title">Продукция резидента</h2>

    <div class="production__slider swiper">
      <ul class="production__slides swiper-wrapper">
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/1.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Робот Aripix</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-1.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Арипикс Роботикс</h3>
              <p class="production-card__text">
                Разработка и производство промышленных роботов манипуляторов,
                интеграция робототехнических систем на предприятиях заказчиков,
                конструкторское бюро.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/2.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Комплекты и простыни</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-2.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Winner Med</h3>
              <p class="production-card__text">
                Производство одноразового медицинского белья и одноразовой
                одежды для медицинского персонала и пациентов.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/1.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Робот Aripix</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-1.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Арипикс Роботикс</h3>
              <p class="production-card__text">
                Разработка и производство промышленных роботов манипуляторов,
                интеграция робототехнических систем на предприятиях заказчиков,
                конструкторское бюро.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/2.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Комплекты и простыни</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-2.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Winner Med</h3>
              <p class="production-card__text">
                Производство одноразового медицинского белья и одноразовой
                одежды для медицинского персонала и пациентов.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/1.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Робот Aripix</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-1.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Арипикс Роботикс</h3>
              <p class="production-card__text">
                Разработка и производство промышленных роботов манипуляторов,
                интеграция робототехнических систем на предприятиях заказчиков,
                конструкторское бюро.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/2.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Комплекты и простыни</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-2.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Winner Med</h3>
              <p class="production-card__text">
                Производство одноразового медицинского белья и одноразовой
                одежды для медицинского персонала и пациентов.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/1.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Робот Aripix</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-1.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Арипикс Роботикс</h3>
              <p class="production-card__text">
                Разработка и производство промышленных роботов манипуляторов,
                интеграция робототехнических систем на предприятиях заказчиков,
                конструкторское бюро.
              </p>
            </div>
          </article>
        </li>
        <li class="production__slide swiper-slide">
          <article class="production-card">
            <div class="production-card__left">
              <div class="production-card__img">
                <img src="images/content/production/2.png" alt="Продукция" />
              </div>

              <h3 class="production-card__title">Комплекты и простыни</h3>

              <button class="production-card__btn btn" type="button">
                Подробнее
              </button>
            </div>
            <div class="production-card__right">
              <a class="production-card__logo" href="#">
                <img
                  src="images/content/production/logo-2.png"
                  alt="Арипикс Роботикс"
                />
              </a>
              <h3 class="production-card__title">Winner Med</h3>
              <p class="production-card__text">
                Производство одноразового медицинского белья и одноразовой
                одежды для медицинского персонала и пациентов.
              </p>
            </div>
          </article>
        </li>
      </ul>

      <div class="swiper-scrollbar"></div>

      <div class="production__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button
        ><button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
