<section class="request">
  <div class="container">
    <div class="request__wrapper">
      <div class="request__offer">
        <h2 class="request__title">
          Хотите стать резидентом <br />
          технопарка?
        </h2>

        <p class="request__text">
          Оставьте заявку и наш специалист свяжется с Вами!
        </p>

        <form class="request__form form-submit">
          <div class="form-submit__inner">
            <div class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Компания"
              />
            </div>
            <div class="form-submit__group">
              <input class="form-submit__input" type="text" placeholder="ФИО" />
            </div>
            <div class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="E-mail"
              />
            </div>
            <div class="form-submit__group">
              <input
                class="form-submit__input"
                type="tel"
                placeholder="Телефон"
              />
            </div>
          </div>
          <div class="form-submit__bottom">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">
                  Нажимая на кнопку, Вы даете согласие на обработку персональных
                  даных и согладаетесь с
                  <a href="#"> политикой конфиденциальности</a>
                </span>
              </label>

              <button class="form-submit__btn btn" type="submit">
                Отправить заявку
              </button>
            </div> 
        </form>
      </div>

      <div
        class="request__preview"
        style="background-image: url('images/content/request.png')"
      ></div>
    </div>
  </div>
</section>
