<section
  class="support"
  style="background-image: url('images/content/wave-bg.png')"
>
  <div class="container">
    <div class="support__offer">
      <h2 class="support__title">
        Поддержка для <br />
        резидентов
      </h2>
      <p class="support__text">от наших партнеров в Правительстве Москвы</p>
    </div>

    <div class="support__slider swiper">
      <ul class="support__slides swiper-wrapper">
        <li class="support__slide swiper-slide">
          <article class="partners-card">
            <div class="partners-card__top">
              <h3 class="partners-card__title">Московский экспортный центр</h3>

              <img
                class="partners-card__logo"
                src="images/content/partners/1.png"
                alt="Московский экспортный центр"
              />
            </div>
            <div class="partners-card__body">
              <ul class="partners-card__list">
                <li class="partners-card__item">
                  Финансовая поддержка экспортеров
                </li>
                <li class="partners-card__item">
                  Проекты по запуску экспорта «под ключ»
                </li>
                <li class="partners-card__item">
                  Обучение, поиск партнеров, акселерация
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="support__slide swiper-slide">
          <article class="partners-card">
            <div class="partners-card__top">
              <h3 class="partners-card__title">
                Московский инновационный кластер
              </h3>

              <img
                class="partners-card__logo"
                src="images/content/partners/2.png"
                alt="Московский инновационный кластер"
              />
            </div>
            <div class="partners-card__body">
              <ul class="partners-card__list">
                <li class="partners-card__item">
                  Сопровождение инновационных проектов
                </li>
                <li class="partners-card__item">
                  Частные и государственные инвестиции
                </li>
                <li class="partners-card__item">
                  Субсидии и гранты для реализации инновационных проектов
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="support__slide swiper-slide">
          <article class="partners-card">
            <div class="partners-card__top">
              <h3 class="partners-card__title">Московский экспортный центр</h3>

              <img
                class="partners-card__logo"
                src="images/content/partners/1.png"
                alt="Московский экспортный центр"
              />
            </div>
            <div class="partners-card__body">
              <ul class="partners-card__list">
                <li class="partners-card__item">
                  Финансовая поддержка экспортеров
                </li>
                <li class="partners-card__item">
                  Проекты по запуску экспорта «под ключ»
                </li>
                <li class="partners-card__item">
                  Обучение, поиск партнеров, акселерация
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="support__slide swiper-slide">
          <article class="partners-card">
            <div class="partners-card__top">
              <h3 class="partners-card__title">
                Московский инновационный кластер
              </h3>

              <img
                class="partners-card__logo"
                src="images/content/partners/2.png"
                alt="Московский инновационный кластер"
              />
            </div>
            <div class="partners-card__body">
              <ul class="partners-card__list">
                <li class="partners-card__item">
                  Сопровождение инновационных проектов
                </li>
                <li class="partners-card__item">
                  Частные и государственные инвестиции
                </li>
                <li class="partners-card__item">
                  Субсидии и гранты для реализации инновационных проектов
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="support__slide swiper-slide">
          <article class="partners-card">
            <div class="partners-card__top">
              <h3 class="partners-card__title">Московский экспортный центр</h3>

              <img
                class="partners-card__logo"
                src="images/content/partners/1.png"
                alt="Московский экспортный центр"
              />
            </div>
            <div class="partners-card__body">
              <ul class="partners-card__list">
                <li class="partners-card__item">
                  Финансовая поддержка экспортеров
                </li>
                <li class="partners-card__item">
                  Проекты по запуску экспорта «под ключ»
                </li>
                <li class="partners-card__item">
                  Обучение, поиск партнеров, акселерация
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="support__slide swiper-slide">
          <article class="partners-card">
            <div class="partners-card__top">
              <h3 class="partners-card__title">
                Московский инновационный кластер
              </h3>

              <img
                class="partners-card__logo"
                src="images/content/partners/2.png"
                alt="Московский инновационный кластер"
              />
            </div>
            <div class="partners-card__body">
              <ul class="partners-card__list">
                <li class="partners-card__item">
                  Сопровождение инновационных проектов
                </li>
                <li class="partners-card__item">
                  Частные и государственные инвестиции
                </li>
                <li class="partners-card__item">
                  Субсидии и гранты для реализации инновационных проектов
                </li>
              </ul>
            </div>
          </article>
        </li>
      </ul>

      <div class="support__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button
        ><button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>

    <div class="support__hashtags hashtags">
      <div class="hashtags__slider swiper">
        <ul class="hashtags__list swiper-wrapper">
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#Субсидии</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#Гранты </a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#Экспорт </a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#обучение</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#поручительство</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#льготноекредитование</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#акселерация</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#Субсидии</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#Гранты </a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#Экспорт </a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#обучение</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#поручительство</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#льготноекредитование</a>
          </li>
          <li class="hashtags__item swiper-slide">
            <a class="hashtags__link" href="#">#акселерация</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
